---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>My Personal Website</h1>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>About Me</h1>

    <p>
      I am a physics major at the Indian Institute of Science Education and
      Research, Kolkata. I am interested in Quantum Gravity, Information Paradox
      and Quantum Cosmology. I am also interested in the intersection of Quantum
      Field Theory and Condesed Matter Physics. In addition to my academic
      pursuits, I am also a passionate coder and enjoy working on various
      projects. I have experience in web development.
    </p>

    <p>
      I am currently working on a project that involves building a personal
      website using Astro. I am planning to start a blog where I will share my
      thoughts and ideas on various topics related to physics, coding, and other
      interests. I am also interested in exploring the use of machine learning
      in physics research.
    </p>

    <p>Not to mention, This is just a tutorial website for Astro.</p>
  </body>
</html>
