---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This is a test blog post. I will be writing about my journey in physics,
    coding, and other interests.
  </p>

  <ul>
    <li>
      <a href="/posts/test1">Test Post 1</a>
    </li>

    <li>
      <a href="/posts/test2">Test Post 2</a>
    </li>

    <li>
      <a href="/posts/test3">Test Post 3</a>
    </li>
  </ul>
</BaseLayout>
