---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Personal Site | Blogs</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/about/">About Me</a>

    <h1>Blogs</h1>
    <p>
      Welcome to my blog! Here, I'll be sharing my thoughts on Astro and how I'm
      using it to build my personal site. Check back often for updates!
    </p>
  </body>
</html>
