---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>A subtitle for this website</h2>

  <p>
    Welcome to my personal website! Here, I share my journey in physics, coding,
    and other interests. Feel free to explore!
  </p>
</BaseLayout>
