---
import Social from "./Social.astro";
---

<footer>
  <p>
    Follow me on social media:
    <Social platform="github" username="iamPiyushKrSingh" />
    <Social platform="linkedin" username="/in/iamPiyushKrSingh" />
    <Social platform="instagram" username="iamPiyushKrSingh" />
    <Social platform="twitter" username="iamPiyushKSingh" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
